
backend/api_secrets.py
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.mypy_cache/
.DS_Store
node_modules/
frontend/docagent-frontend/node_modules/
backend/data/
backend/doc/
backend/chromadb/
backend/models/
